<!-- Page Content -->
<div class="container" xmlns="http://www.w3.org/1999/html">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 ng-show="editProduct" class="page-header">Edit Place
      <small>{{product.name}}</small>
    </h1>
      <h1 ng-show="addProduct" class="page-header">Add Place
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/index">Home</a>
        </li>
        <li class="active"  ng-show="editProduct">Edit Place</li>
        <li class="active"  ng-show="addProduct">Add Place</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-4">
    <form name="editform" novalidate flow-init>




      <!--<div ng-show="addProduct">-->
        <!--<div style="position: relative" ng-repeat="image in product.images" class="text-center">-->
          <!--<img ng-src="data:{{image.contentType}};base64, {{image.content}}" class="thumbnail"/>-->
          <!--<button style="position: absolute; top: 5px; left: 5px; z-index: 999" href="#" ng-click="clearSearch()">-->
            <!--<i class="glyphicon glyphicon-remove-circle"></i>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->

        <div class="form-group">
          <label for="productname">Name :</label>
          <input ng-model="product.name" class="form-control" id="productname" name="productname" placeholder="name" required/>

          <div class="alert alert-danger" role="alert" ng-show="editform.productname.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Product name is Required!
          </div>
        </div>


        <div class="form-group">
          <label for="productdescription">Description :</label>
          <input ng-model="product.description" class="form-control" id="productdescription"
                 placeholder="description" name="productdescription" required/>

          <div class="alert alert-danger" role="alert" ng-show="editform.productdescription.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Description is Required!
          </div>

        </div>


          <div class="form-group">
            <label for="productcontact">Contact :</label>
            <input ng-model="product.contact" class="form-control" id="productcontact"
                   placeholder="contact" name="productcontact" required/>

            <div class="alert alert-danger" role="alert" ng-show="editform.productcontact.$error.required">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              Contact is Required!
            </div>
        </div>

      <div class="form-group">
        <label for="placetype">Type :</label>
        <select ng-model="product.type" class="form-control" id="placetype"
               placeholder="Type select" name="placetype" required>
          <option value="">
          <option value="Building">Building
          <option value="Sportfield">Sportfield
          <option value="Cafe">Cafe
          <option value="Reataurant">Reataurant
          <option value="ATM">ATM
          <option value="CarParking">CarParking
          <option value="Dormitory">Dormitory
          <option value="Landmark">Landmark
        </select>

        <div class="alert alert-danger" role="alert" ng-show="editform.placetype.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Type is Required!
        </div>
      </div>

      <div class="form-group">
        <label for="placeweb">Website :</label>
        <input ng-model="product.website" class="form-control" id="placeweb"
               placeholder="Website" name="placeweb" required/>

        <div class="alert alert-danger" role="alert" ng-show="editform.placeweb.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Website is Required!
        </div>
      </div>


        <div class="form-group">
          <label for="productprice">X Coordinates:</label>
          <input ng-model="product.x" name="productprice" class="form-control" id="productprice"
                 placeholder="X Coordinates" type="number" required/>

          <div class="alert alert-danger" role="alert" ng-show="editform.productprice.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            X value is Required!
          </div>
          <div class="alert alert-danger" role="alert" ng-show="editform.productprice.$error.number">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter the number!!
          </div>
        </div>

      <div class="form-group">
        <label for="productprice">Y Coordinates:</label>
        <input ng-model="product.y" name="wholesalePrice" class="form-control" id="wholesalePrice"
               placeholder="Y Coordinates" type="number" required/>

        <div class="alert alert-danger" role="alert" ng-show="editform.productprice.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Y value is Required!
        </div>
        <div class="alert alert-danger" role="alert" ng-show="editform.productprice.$error.number">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Enter the number!!
        </div>
      </div>

      <h3>Picture</h3>
      <div class="form-group">
        <input data-ng-model="ImageInput" type="file" flow-btn/>
        <table>
          <tr ng-repeat="file in $flow.files">
            <td>{{$index+1}}</td>
            <td>{{file.name}}</td>
            <td>
              <div class="resizeImage">
                <img flow-img="$flow.files[{{$index}}]">
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div ng-show="editProduct">
        <div style="position: relative" ng-repeat="image in product.images" class="text-center">
          <img ng-src="data:{{image.contentType}};base64, {{image.content}}" class="thumbnail"/>
          <button style="position: absolute; top: 5px; left: 5px; z-index: 999" href="#" ng-click="removeImage(product.id, image.id)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </div>
      </div>

      <a ng-href="#/addP"><button type="submit" class="btn btn-default" ng-click="addProduct($flow)" ng-show="addProduct">Add</button></a>
      <a ng-href="#/editP"><button type="submit" class="btn btn-default" ng-click="editProduct()" ng-show="editProduct">Edit</button></a>
    </form>
    </div>
  </div>
  <hr>
</div>
