<ion-view view-title="Map">

  <ion-content ng-controller="MapController" >

   <!-- <div class="list list-inset">
      <label class="item item-input" style="margin-top: 2%">
        <input id="start" type="text" placeholder="Source">
      </label>
      <label class="item item-input">
        <input id="end" type="text" placeholder="Destination">
      </label>
      <label>
      <button id="button1" class="button button-block button-positive"  onclick="calcRoute();">
        Get Direction
      </button></label>
    </div>-->

    <!--<div id="floating-panel" style="margin-top: 45px">-->
      <!--<b>Start: </b>-->
      <!--<select id="start">-->
        <!--<option value="chicago, il">Chicago</option>-->
        <!--<option value="st louis, mo">St Louis</option>-->
        <!--<option value="joplin, mo">Joplin, MO</option>-->
        <!--<option value="oklahoma city, ok">Oklahoma City</option>-->
        <!--<option value="amarillo, tx">Amarillo</option>-->
        <!--<option value="gallup, nm">Gallup, NM</option>-->
        <!--<option value="flagstaff, az">Flagstaff, AZ</option>-->
        <!--<option value="winona, az">Winona</option>-->
        <!--<option value="kingman, az">Kingman</option>-->
        <!--<option value="barstow, ca">Barstow</option>-->
        <!--<option value="san bernardino, ca">San Bernardino</option>-->
        <!--<option value="los angeles, ca">Los Angeles</option>-->
      <!--</select>-->
      <!--<b>End: </b>-->
      <!--<select id="end">-->
        <!--<option value="chicago, il">Chicago</option>-->
        <!--<option value="st louis, mo">St Louis</option>-->
        <!--<option value="joplin, mo">Joplin, MO</option>-->
        <!--<option value="oklahoma city, ok">Oklahoma City</option>-->
        <!--<option value="amarillo, tx">Amarillo</option>-->
        <!--<option value="gallup, nm">Gallup, NM</option>-->
        <!--<option value="flagstaff, az">Flagstaff, AZ</option>-->
        <!--<option value="winona, az">Winona</option>-->
        <!--<option value="kingman, az">Kingman</option>-->
        <!--<option value="barstow, ca">Barstow</option>-->
        <!--<option value="san bernardino, ca">San Bernardino</option>-->
        <!--<option value="los angeles, ca">Los Angeles</option>-->
      <!--</select>-->
    <!--</div>-->
<div style="margin-top: 40px">

  <div id="floating-panel" style=" margin-left: 1%; margin-top: 20px">
    <input id="address" type="textbox" placeholder="Input place name">
    <input id="submit" type="button" value="Search">
  </div>

    <input id="origin-input" class="controls" type="text"
           placeholder="Origin location">

    <input id="destination-input" class="controls" type="text"
           placeholder="Destination location">

    <!--<div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>-->

  <div id="mode-selector" style="margin-top: 10px">
    <b>Mode of Travel: </b>
    <select id="mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
  </div>

</div>

    <div id="map" data-tap-disabled="true"></div>
  </ion-content>

</ion-view>
