<!-- Page Content -->
<div class="container" xmlns="http://www.w3.org/1999/html">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 ng-show="editPlace" class="page-header">Edit Place
      <small>{{place.name}}</small>
    </h1>
      <h1 ng-show="addPlace" class="page-header">Add Place
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/index">Home</a>
        </li>
        <li class="active"  ng-show="editPlace">Edit Place</li>
        <li class="active"  ng-show="addPlace">Add Place</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-4">
    <form name="editform" novalidate flow-init>




      <!--<div ng-show="addProduct">-->
        <!--<div style="position: relative" ng-repeat="image in place.images" class="text-center">-->
          <!--<img ng-src="data:{{image.contentType}};base64, {{image.content}}" class="thumbnail"/>-->
          <!--<button style="position: absolute; top: 5px; left: 5px; z-index: 999" href="#" ng-click="clearSearch()">-->
            <!--<i class="glyphicon glyphicon-remove-circle"></i>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->

        <div class="form-group">
          <label for="placename">Name :</label>
          <input ng-model="place.name" class="form-control" id="placename" name="placename" placeholder="name" required/>

          <div class="alert alert-danger" role="alert" ng-show="editform.placename.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Place name is Required!
          </div>
        </div>


        <div class="form-group">
          <label for="placedescription">Description :</label>
          <input ng-model="place.description" class="form-control" id="placedescription"
                 placeholder="description" name="placedescription" required/>

          <div class="alert alert-danger" role="alert" ng-show="editform.placedescription.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Description is Required!
          </div>

        </div>


          <div class="form-group">
            <label for="placecontact">Contact :</label>
            <input ng-model="place.contact" class="form-control" id="placecontact"
                   placeholder="contact" name="placecontact" required/>

            <div class="alert alert-danger" role="alert" ng-show="editform.placecontact.$error.required">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              Contact is Required!
            </div>
        </div>

      <div class="form-group">
        <label for="placetype">Type :</label>
        <select ng-model="place.type" class="form-control" id="placetype"
               placeholder="Type select" name="placetype" required>
          <option value="">
          <option value="Building">Building
          <option value="Sportfield">Sportfield
          <option value="Cafe">Cafe
          <option value="Reataurant">Reataurant
          <option value="ATM">ATM
          <option value="CarParking">CarParking
          <option value="Dormitory">Dormitory
          <option value="Landmark">Landmark
        </select>

        <div class="alert alert-danger" role="alert" ng-show="editform.placetype.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Type is Required!
        </div>
      </div>

      <div class="form-group">
        <label for="placeweb">Website :</label>
        <input ng-model="place.website" class="form-control" id="placeweb"
               placeholder="Website" name="placeweb" required/>

        <div class="alert alert-danger" role="alert" ng-show="editform.placeweb.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Website is Required!
        </div>
      </div>


        <div class="form-group">
          <label for="placeprice">X Coordinates:</label>
          <input ng-model="place.x" name="placeprice" class="form-control" id="placeprice"
                 placeholder="X Coordinates" type="number" required/>

          <div class="alert alert-danger" role="alert" ng-show="editform.placeprice.$error.required">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            X value is Required!
          </div>

        </div>

      <div class="form-group">
        <label for="placeprice">Y Coordinates:</label>
        <input ng-model="place.y" name="wholesalePrice" class="form-control" id="wholesalePrice"
               placeholder="Y Coordinates" type="number" required/>

        <div class="alert alert-danger" role="alert" ng-show="editform.placeprice.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Y value is Required!
        </div>



      </div>

      <h3>Picture</h3>
      <div class="form-group">
        <input data-ng-model="ImageInput" type="file" flow-btn/>
        <table>
          <tr ng-repeat="file in $flow.files">
            <td>{{$index+1}}</td>
            <td>{{file.name}}</td>
            <td>
              <div class="resizeImage">
                <img flow-img="$flow.files[{{$index}}]">
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div ng-show="editPlace">
        <div style="position: relative" ng-repeat="image in place.images" class="text-center">
          <img ng-src="data:{{image.contentType}};base64, {{image.content}}" class="thumbnail"/>
          <button style="position: absolute; top: 5px; left: 5px; z-index: 999" href="#" ng-click="removeImage(place.id, image.id)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </div>
      </div>

      <div ng-hide="editform.$valid">
        Please fill all information
      </div>
      <button type="submit" ng-disabled="editform.$invalid" class="btn btn-default" ng-click="addPlace($flow)" ng-show="addPlace">Add</button>
      <button type="submit" ng-disabled="editform.$invalid" class="btn btn-default" ng-click="editPlace($flow)" ng-show="editPlace">Edit</button>
    </form>
    </div>
  </div>
  <hr>
</div>
