<div class="row-fluid">
    <div class="row" ng-show="addPerson">
        <h1>Add new place</h1>
    </div>
    <div class="row" ng-show="editPerson">
        <h1>Edit Place</h1>
    </div>
    <div class="col-md-4">
        <form name="editform" novalidate flow-init>
            <div class="form-group">
                <!-- Sidebar content-->
                <label for="placename">name :</label>
                <input ng-model="vm.place.name" class="form-control" id="placename" name="placename" placeholder="name" required/>

                <div class="alert alert-danger" role="alert" ng-show="vm.editform.placename.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                  Place name is Required!
                </div>
            </div>
            <div class="form-group">
                <label for="placedescription">Description :</label>
                <input ng-model="vm.place.description" class="form-control" id="placedescription"
                       placeholder="description" name="placedescription" required/>

                <div class="alert alert-danger" role="alert" ng-show="vm.editform.placedescription.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Description is Required!
                </div>

            </div>
            <div class="form-group">
                <label for="placeprice">price :</label>
                <input ng-model="vm.place.totalPrice" name="placeprice" class="form-control" id="placeprice"
                       placeholder="price" type="number" required/>

                <div class="alert alert-danger" role="alert" ng-show="vm.editform.placeprice.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Price is Required!
                </div>
                <div class="alert alert-danger" role="alert" ng-show="vm.editform.placeprice.$error.number">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter the number!!
                </div>

            </div>
            <div class="form-group">
                <input type="file" flow-btn/>
                <table>
                    <tr ng-repeat="file in $flow.files">
                        <td>{{$index+1}}</td>
                        <td>{{file.name}}</td>
                        <td><img flow-img="$flow.files[{{$index}}]"> </td>
                    </tr>
                </table>
            </div>

            <button type="submit" class="btn btn-default" ng-click="addPlaceController.addPlace($flow)" ng-show="addPlaceController">Add</button>
            <button type="submit" class="btn btn-default" ng-click="editPlaceController.editPlace()" ng-show="editPlaceController">Edit</button>
        </form>
    </div>
</div>
