<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <script src="app/Backup/CSS/bootstrap.min.css"></script>

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <!-- /.container -->

  </head>
  <body ng-controller = "LoginController as login" >
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/index" translate>menu.Watphasom</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#/About" translate>menu.About</a>
          </li>
          <li>
            <a href="#/Contact" translate>menu.Contact</a>
          </li>
          <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li>-->
                <!--<a href="#/Blog1">Blog Home 1</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="#/Blog2">Blog Home 2</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="#/BlogPost">Blog Post</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->

          <li>
            <a href="#/Product1" translate>menu.Product</a>
          </li>

          <li>
            <a href="#/shoppingCart" ng-show="hasRole('userretail')||hasRole('userwholesale')" translate>menu.shoppingcart</a>
          </li>

          <li>
            <button class="btn btn-primary btn-nav" data-toggle="modal" data-target="#Modal-Login" ng-hide="user" translate>menu.Login</button>
          </li>
          <li class="dropdown" ng-show="user">
            <button class="dropdown-toggle btn btn-danger btn-nav" data-toggle="dropdown">{{user.name}}<b class="caret"></b></button>
            <ul class="dropdown-menu">
              <li>
                <a style="text-align: center" href="#/ManageProduct" ng-show="hasRole('admin')" translate>admin.ManageProduct</a>
              </li>
              <li>
                <button translate style="color:whitesmoke; width: 100%" type="button" class="btn-danger" data-toggle="modal" data-target="#Modal-Prompt2" ng-click="logout()">menu.Logout</button>
              </li>
            </ul>
          </li>
          <div  ng-controller="LanguageController">
            <div class="container-fluid">
              <div class="collapse navbar-collapse">
                <ul  class="nav navbar-nav navbar-right">
                  <li ng-class="{'active':currentLocale== 'en'}"><a href="" ng-click="changeLanguage('en')">EN </a></li>
                  <li ng-class="{'active':currentLocale== 'th'}"><a href="" ng-click="changeLanguage('th')">TH</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--<li>-->
            <!--<a style="color: yellow!important;" ng-show="user">Hello !! {{user.name}}</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<button type="submit" ng-show="user" class="btn btn-danger btn-nav" data-toggle="modal" data-target="#Modal-Prompt2" ng-click="logout()">LogOut</button>-->
          <!--</li>-->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- MODAL -->
  <div class="modal fade" id="Modal-Login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
      </button>
      <h3 class="modal-title" id="modal-login-label">Login to our site</h3>
      <p>Enter your username and password to log on:</p>
    </div>

    <div class="modal-body">
      <form class="login-form">
        <div class="form-group">
          <label class="sr-only" for="username">Username</label>
          <input type="text" placeholder="Username..." class="form-control" id="username" ng-model ="login.username">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" placeholder="Password..." class="form-control" id="password" ng-model ="login.password">
        </div>
        <div class="form-group">
            <div class="checkbox">
              <label style="color: white">
                <input type="checkbox" ng-model="login.rememberMe" checked="checked"> Stay on this site
              </label>
            </div>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#Modal-Prompt" ng-click="login.login()" data-dismiss="modal">Sign in!</button>
          </div>
      </form>
    </div>
    </div>
      </div>

  </div>
  <!--<li>-->
    <!--<a class="alert alert-danger" style="color: white;" ng-show="error">{{error}}</a>-->
  <!--</li>-->

  <!-- Modal -->
  <div class="modal fade" id="Modal-Prompt" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" >{{HeadSuccess}}</h4>
          <h4 class="modal-title" ng-hide="result">{{HeadFail}}</h4>
        </div>
        <div class="modal-body">
          <p style="color: white" >{{result}}</p>
          <p style="color: white" ng-hide="result">{{error}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="Modal-Prompt2" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" >Result</h4>
        </div>
        <div class="modal-body">
          <p style="color: white" >Logout Succeed</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <ng-view></ng-view>

  <hr>
  <div class="container">
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-8">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </footer>
  </div>

  </body>
  <script src="app/JS/bootstrap.min.js"></script>
  <script src="app/JS/jquery.js"></script>


  <!--<div class="navbar navbar-default" ng-controller="LanguageController">-->
    <!--<div class="container-fluid">-->
      <!--<div class="collapse navbar-collapse">-->
        <!--&lt;!&ndash;<div ng-include src ="'app/security/login.html'"></div>&ndash;&gt;-->
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li  ng-show="hasRole('ForeignUser')" ng-class="{'active':currentLocale== 'en'}" ><a href="" ng-click="changeLanguage('en')" >EN </a></li>-->
          <!--<li  ng-show="hasRole('ForeignUser')" ng-class="{'active':currentLocale== 'fr'}" ><a href="" ng-click="changeLanguage('fr')" >FR</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="container ng-hide" ng-show = "initialized">-->
    <!--<div class="alert alert-dangeer" ng-show="error">{{error}}</div>-->
  <!--</div>-->

  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2">-->
        <!--&lt;!&ndash; Fixed left nav column &ndash;&gt;-->
        <!--<div ng-include src="'app/component/leftnav.html'"></div>-->
      <!--</div>-->
      <!--<div class="col-md-10">-->
        <!--&lt;!&ndash; Breadcrumbs-->
       <!--================================================== &ndash;&gt;-->


        <!--<ng-view>Loading...</ng-view>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
</html>
